@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
    line-height: 1.5;
    font-family: "Helvetica", sans-serif;
}

#container {
    max-width: 1600px;
    margin: 0 auto;

    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;


    background-color: white;
}

#main {
    padding-top: 5em;
}

a.anchor {
    display: block;
    position: relative;
    top: -5em;
    visibility: hidden;
}

section {
    border-bottom: 0.25em solid #ed1255;
    padding: 4% 2%;
}

h1 {
    margin: 1em 0;
    text-align: center;

    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    margin: 0.5em 0;
    text-align: center;

    font-size: 1.2em;
    font-weight: bold;
}

p {
    margin: 2em auto;
    max-width: 55em;

    text-align: justify;
}



/* NAV start */
nav {
    position: fixed;

    display: flex;
    width: 100%;
    max-width: inherit;
    height: 5em;

    color: white;
    background-color: #ed1255;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;

    font-size: 1.5em;
}

nav li {
    flex-grow: 1;
    height: 100%;
}

nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;

    color: white;

    text-decoration: none;
    text-align: center;
}

nav li:hover {
    background-color: #d70e3e;
}

nav li a div {
    padding-top: 1.1em;
}

/* NAV end */


/* LOGO start */
.logo {
    font-family: "Lato", sans-serif;
    font-weight: lighter;

    margin: 0 2%;
}

#logo-ref {
    flex-basis: 18em;
    display: flex;
    align-items: center;

    color: white;

    text-decoration: none;
}

#logo-K {
    display: inline-block;
    margin-left: 5%;

    font-size: 3em;
}

#logo-border {
    height: 70%;
    width: 1px;
    min-width: 1px;

    background-color: white;
}

#logo-text {
    display: inline-block;

    line-height: 1.4;
    text-transform: uppercase;
}
/* LOGO end */

/* TITLE SECTION */
#title-section {
    padding: 0;

    background-color: #ed1255;
}

#title-section img {
    width: 100%;
}
/* TITLE SECTION */

/* PLAN SECTION */

#plan-section img {
    width: 100%;
    margin-top: 3em;
}

/* PLAN SECTION */

/* SPONSOREN SECTION */

#sponsoren-section {
    padding-left: 3%;
    padding-right: 3%;
}

#sponsoren-section h2 {
    margin-top: 5em;
}

#sponsoren-section div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sponsoren-section div#bronzesponsoren {
    justify-content: center;
    padding-left: 4em;
}

#sponsoren-section div#bronzesponsoren p {
    margin: 1em;
    width: 30em;
}

#sponsoren-section img {
  display: block;
  max-width:430px;
  max-height:95px;
  width: auto;
  height: auto;
  margin: 1%;
}

/* SPONSOREN SECTION */