@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
    font-family: "Helvetica", sans-serif;

    max-width: 1600px;
    margin: 0 auto;
}

#main {
    padding-top: 5em;
}

/* NAV start */
nav {
    position: fixed;

    display: flex;
    width: 100%;
    max-width: inherit;
    height: 5em;

    color: white;
    background-color: #ed1255;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;

    font-size: 1.5em;
}

nav li {
    flex-grow: 1;
    height: 100%;
}

nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;

    color: white;

    text-decoration: none;
    text-align: center;
}

nav li:hover {
    background-color: #d70e3e;
}

nav li a div {
    padding-top: 1.1em;
}

/* NAV end */

/* SECTION */

section {
    border-bottom: 1em solid #ed1255;
}

/* SECTION end */


/* LOGO start */
.logo {
    font-family: "Lato", sans-serif;
    font-weight: lighter;

    margin: 0 1%;
}

#logo-ref {
    flex-basis: 18em;
    display: flex;
    align-items: center;

    color: white;

    text-decoration: none;
}

#logo-K {
    display: inline-block;
    font-size: 3em;
}

#logo-border {
    height: 70%;
    width: 1px;
    min-width: 1px;

    background-color: white;
}

#logo-text {
    display: inline-block;

    line-height: 1.4;
    text-transform: uppercase;
}
/* LOGO end */

