@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

:root {
  --kvk-main-color: #ed1255;
  --site-main-color: var(--kvk-main-color);
  --site-hover-color: #d70e3e;
  --site-active-color: rgba(134, 29, 61, 0.5);
  --highlight-grey: #f1f1f1;
  --highlight-grey-light: #f3f3f3;
  --highlight-grey-dark: #afafaf;
  --location-bubble-red: #fe0000;
}

body {
  line-height: 1.5;
  font-family: 'Helvetica', sans-serif;
}

[onclick] {
  cursor: pointer;
}

a.anchor {
  display: block;
  position: relative;
  top: -3em;
  visibility: hidden;
}

a:link,
a:visited {
  color: var(--site-main-color);
  color: grey;
}

b {
  font-weight: bold;
}

section {
  position: relative;
  border-bottom: 0.5em solid var(--site-main-color);
  padding: 5%;
}

section:last-of-type {
  border-bottom: none;
}

h1,
h2,
h3,
p {
  text-justify: inter-word;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 2em auto;
}

table {
  border-collapse: separate;
}

strong {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.in-section-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

img {
  object-fit: contain;
}

/* "Tailwind" */

.bold {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.block {
  display: block;
}

.black {
  color: black !important;
}
