/* IMPRESSION SECTION start */

#impression-section #impression-div {
  margin: 2em auto;
  height: max(300px, 75vh);
}

#impression-section #impression-image {
  display: block;
  position: relative;

  margin: 0 auto;

  top: 50%;
  transform: translateY(-50%);

  height: 100%;
  width: 100%;
  object-fit: contain;
}

#impression-section #credit {
  float: right;
  margin: 0;
  margin-top: -2em;
  font-size: 70%;
  color: grey;
}

#impression-section #image-cache {
  display: none;
}

#impression-section #controls {
  display: flex;

  justify-content: center;
}

#impression-section #controls button {
  margin: 0 2rem;
  padding: 0px 30px;
  padding-bottom: 5px;
  font-size: 200%;
}

/* IMPRESSION SECTION end */