#container {
  max-width: 1600px;
  margin: 0 auto;
}

#main {
  padding-top: 3em;
}

/* NAV start */

nav {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  height: 3em;
  color: white;
  background-color: var(--site-main-color);
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  padding-right: 1em;
  font-size: 1.1em;
}

nav li {
  flex-grow: 1;
  height: 100%;
}

nav li.current {
  background-color: var(--site-active-color) !important;
}

nav li:hover {
  background-color: var(--site-hover-color);
}

nav li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  text-align: center;
}

nav li a:link,
nav li a:visited {
  color: white;
}

nav li a div {
  padding-top: 0.7em;
}

nav label {
  /* do not show a highlight on iPhone when the hamburger is clicked */
  -webkit-tap-highlight-color: transparent;
}

#position-indication {
  position: fixed;
  z-index: 20;
  height: 3em;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 1px lightgrey solid;
  border-right: 1px lightgrey solid;
}

/* NAV->HAMBURGER start */

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked ~ #menu {
  display: block;
  width: 100vw;
  position: fixed;
  top: 2.7em;
  left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  background-color: var(--site-main-color);
}

input[type='checkbox']:checked ~ #menu li {
  width: 80%;
  margin: auto;
  background-color: var(--site-main-color);
  border-top: 1px solid #861d3d;
}

input[type='checkbox']:checked ~ #menu li:hover {
  background-color: var(--site-hover-color);
}

input[type='checkbox']:checked ~ #menu li a div {
  padding: 0.3em;
}

#hamburger-wrapper {
  width: 2em;
  height: 100%;
  display: none;
  cursor: pointer;
  margin-right: 2cqw;
}

.hamburger {
  position: absolute;
  width: 1.25em;
  height: 0.8em;
  border-top: 0.2em solid white;
  border-bottom: 0.2em solid white;
  top: 30%;
}

.hamburger:before {
  content: '';
  position: absolute;
  top: 0.3em;
  left: 0;
  width: 100%;
  border-top: 0.2em solid white;
}

/* NAV->HAMBURGER end */

/* NAV end */

/* LOGO start */

.logo {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  margin: 0 2%;
}

#logo-ref {
  flex-basis: 15em;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: var(--kvk-main-color);
  padding-right: 10px;
}

#logo-K {
  display: inline-block;
  margin-left: 5%;
  font-size: 2.5em;
}

#logo-border {
  height: 70%;
  width: 1px;
  min-width: 1px;
  background-color: white;
}

#logo-text {
  display: inline-block;
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: normal;
}

/* LOGO end */

/* TITLE SECTION start */

#title-section {
  padding: 0;
  background-color: var(--site-main-color);
}

#countdown {
  position: absolute;
  top: 30%;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.8);
  font-size: max(14px, min(3.4vw, 85px));
  text-align: center;
  left: 3%;
  padding: 0 0.8em;
  max-width: 94%;
}

#title-section img {
  width: 100%;
}

/* TITLE SECTION end */

/* PLAN SECTION start */

#plan-section div {
  text-align: center;
}

#plan-section img {
  width: 100%;
  max-width: 600px;
  margin-top: 3em;
}

/* PLAN SECTION end */

/* PROGRAM SECTION start */

#program-section h1 {
  max-width: unset;
}

#program-section p {
  max-width: unset;
}

#program-section .loader {
  display: inline-block;
  margin: 0;
  height: 1em;
  border-width: 0.2em;
  position: relative;
  top: 0.3em;
}

#program-section span:has(+ .loader) {
  margin-right: 0.2em;
}

#program-section table {
  margin: 0 auto;
  margin-top: 0.5em;
  z-index: 100;
  width: 100%;
}

#program-section th {
  padding: 0.4em 0;
  font-weight: bold;
  text-align: center;
  color: var(--site-main-color);
  border-bottom: 1px solid black;
  border-right: 1px dotted var(--site-main-color);
  position: sticky;
  top: 48px; /* navbar height */
  background: white;
}

#program-section .desktop th:first-of-type {
  width: 20%;
}

#program-section th:last-of-type {
  border-right: unset;
}

#program-section td {
  padding: 0.5em 0.6em;
  border: 1px solid transparent; /* to avoid different text wrapping when we add the class 'current' */
  border-bottom: 1px solid black;
  border-right: 1px dotted var(--site-main-color);
  font-size: 75%;
  text-align: left;
  vertical-align: middle;

  &.current {
    border: 1px solid black;
    border-bottom: none;
    background-color: var(--highlight-grey);
  }

  &.text-center {
    text-align: center;
  }
}

#program-section td.content:hover,
#program-section tr td.extra-cell,
#program-section tr td.selected {
  background-color: var(--highlight-grey);
}

[data-event][onclick]:hover {
  background: var(--highlight-grey-light);
}

#program-section table td:first-child {
  padding-left: 0;
}

#program-section .locationCell {
  font-weight: bold;
}

#program-section .intermediateRow td {
  border-bottom: 1px solid lightgrey;
}

#program-section tr td:last-of-type {
  border-right: unset;
}

#program-section .time-cell {
  text-align: center;
}

#program-section tr td.extra-cell {
  border: 1px solid black; /*here selection border*/
  border-top: 0;
  border-left: 0;
  border-right: 1px dotted var(--site-main-color);
}

#program-section .table-entry {
  display: flex;
}

#program-section .extra-cell div.img {
  display: inline-block;
  margin: 10px;
}

#program-section .extra-cell .content {
  display: inline-block;
  padding: 10px;
}

#program-section .extra-cell .content h4 {
  font-size: 110%;
  font-weight: bold;
}

#program-section .extra-cell .content p:last-of-type {
  margin-bottom: 0;
}

#program-section tr td.bottom-border {
  border-bottom: 1px solid black; /*here selection border*/
}

#program-section tr td.before-selected {
  border-right: 1px solid black; /*here selection border*/
}

#program-section tr td.selected {
  border: 1px solid black; /*here selection border*/
  border-bottom: 0;
  border-left: 0;
  outline: 0;
}

/*avoid a black border for a cell which is on the right edge of the table*/
#program-section tr td:last-of-type.selected {
  border-right: 1px dotted var(--site-main-color);
}

#program-section table img {
  width: 10vw;
  min-width: 10em;
}

#program-section tr.shuttlebus {
  background-color: #ffffd9b0;
}

#program-section td.event-row {
  background-color: var(--highlight-grey);

  .event-row-container {
    display: flex;
    gap: 2em;
    padding: 1em 1.5em;

    .image-container {
      display: flex;
      gap: 1em;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          object-fit: contain;
        }
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1em;

      .title-div {
        font-weight: bold;
        font-size: 1.1em;
      }

      div:last-child {
        margin-bottom: 1em;
      }
    }
  }
}

#program-start-end {
  .arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.arrow-open {
      transform: rotate(90deg);
      /* margin-top: 0.5em; */
    }
  }
}

#program-start-end > div {
  display: grid;
  border: 1px solid var(--highlight-grey-dark);
  padding: 1em;
  margin: 2em 0;
  background: var(--highlight-grey);
  container-type: inline-size;
  max-width: 1000px;
  grid-template-columns: 7em 1fr;
  position: relative;

  .location-number {
    width: 2em;
    height: 2em;
    background: var(--location-bubble-red);
    color: white;
    font-weight: bold;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.9em;

    span {
      position: relative;
      top: 0.5px;
    }

    &.only-mobile {
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      font-size: 0.8em;
    }
  }

  &:has(.img-container) {
    grid-template-columns: minmax(9em, 35%) 1fr;
  }

  .time {
    font-weight: bold;
    color: var(--kvk-main-color)
  }

  .time-column {
    margin-right: 1em;
    display: flex;
    flex-direction: column;

    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      max-width: 180px;
    }
  }

  .location {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0.5em;
    width: calc(100% - 2em);
  }
}

@container (min-width: 780px) {
  #program-start-end > div {
    .time-column {
      flex-direction: row;

      .img-container {
        width: 0;
        align-items: end;
        width: 150px;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  #program-start-end {
    .only-mobile {
      display: none !important;
    }

    .arrow {
      display: none;
    }

    >div {
      cursor: auto;
    }
  }
}

@media screen and (max-width: 500px) {
  #program-start-end > div {
    grid-template-columns: 1fr !important;

    .toggle:not(.toggle-on) {
      display: none;
    }

    .time-column {
      display: none;
    }

    .time-title {
      display: flex;
      gap: 0.5em;

      &:has(.arrow-open) {
        margin-bottom: 1em;
      }

      width: calc(100% - 2em);
    }

    .img-container {
      width: 100%;

      img {
        width: 100%;
        max-width: 140px;
        margin-top: 1em;
      }
    }
  }
}

/* -> mobile */

#program-section .mobile {
  width: 100%;
  display: none;
}

#program-section .mobile th {
  width: 100%;
}

#program-section .mobile td {
  width: 50%;
}

#program-section .mobile .time-cell {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #program-section .desktop {
    display: none;
  }

  #program-section table.mobile {
    display: table;
  }
}

.expand {
  display: inline-block;
  margin-right: 10%;
}

.collapse {
  transform: rotate(90deg);
}

/* -> gallery */

button.gallery-toggler {
  padding: 1em;
  margin: 2em 0;
  border: none;
  border-radius: 0.25em;

  color: white;
  background-color: var(--site-main-color);

  cursor: pointer;

  position: unset; /* will be set to 'fixed' by script.js*/
  top: 74px;
}

button.gallery-toggler:hover {
  background-color: var(--site-hover-color);
}

.gallery-column {
  margin: 2%;

  flex-grow: 1;
  flex-basis: 0px;
}

.gallery-item {
  /*max-width: 350px;*/
  border: 1px solid black;
  font-size: 80%;
  margin-bottom: 1em;
  background-color: #ededed;
}

.gallery-item h4 {
  font-weight: bold;
  font-size: 110%;
  margin: 1em 1em;
}

.gallery-item img {
  width: 80%;
  display: block;
  margin: 0.5em auto;
}

.gallery-item p {
  margin: 1em 1em;
}

/* gallery end */

/* legend table start*/

#program-section h6 {
  text-align: left;
  font-style: italic;
  font-size: 75%;
}

#program-section .legend {
  margin-left: 0;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#program-section .legend div {
  display: inline;
  font-size: 75%;
  margin: 0 1em;
}

/* legend table end*/

/* PROGRAM SECTION end */

/* FOOD SECTION start */

.food-section p {
  margin: 1em auto;
}

/* FOOD SECTION end */

/* CONTACT SECTION start */

.ad {
  color: var(--site-main-color);
}

.contact-section {
  max-width: 800px;
  margin: auto;
}

.contact-section h3 {
  margin-top: 2em;
}

.contact-section p {
  margin-top: 0;
}

.contact-section li {
  text-align: justify;
}

.contact-section img {
  display: block;
  width: min(80%, 400px);
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#location {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: auto;
  flex-wrap: wrap;
}

#location ul {
  max-width: 20em;
  width: 100%;
}

#location li {
  margin-top: 1em;
}

#map {
  flex-shrink: 0;
  flex-grow: 1;
  width: 20em;
  height: 20em;
  border: 1px solid grey;
  margin-top: 1em;
  margin-left: 5em;
}

#organisator-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  max-width: 600px;
}

/* CONTACT SECTION end */

/* SPONSOREN SECTION start */

#sponsoren-section {
  padding-left: 3%;
  padding-right: 3%;
}

#sponsoren-section h2 {
  margin-top: 3em;
  margin-bottom: 2em;
  border-bottom: 1px solid grey;
}

#sponsoren-section h2:first-of-type {
  margin-top: 2em;
}

#sponsoren-section ul {
  max-width: 800px;
  margin: auto;
}

#sponsoren-section li {
  margin-bottom: 1em;
}

.sponsoren-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.sponsoren-block:nth-of-type(2) img {
  height: 50px;
}

.sponsoren-block img {
  width: unset;
  max-width: unset;
  height: 70px;
  /*71*/
  max-height: unset;
  padding: 1em 0.5em;
}

#schererHeizungen {
  max-height: 12vw;
}

#STFS {
  max-height: 12vw;
}

#sponsoren-section a {
  text-decoration: none;
  color: black;
}

/* SPONSOREN SECTION end */

/* FOOTER start */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7em;
  background-color: var(--site-main-color);
  color: white;
  margin-top: 100px;
  overflow: hidden;
  hyphens: auto;
  word-break: break-word; /* needed for Safari */
}

footer > * {
  width: 33%;
  margin: 0;
  padding: 0 0.6cqw;
  display: inline-block;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 2px;
}

footer a:link,
footer a:visited {
  color: white;
  text-decoration: none;
}

/* FOOTER end */
/* MEDIA QUERIES start */
/* sort them descending as lower definitions will overwrite higher ones as wanted 
* smaller max-width has higher priority.
*/

/* add a border to the container */
@media screen and (min-width: 1600px) {
  #container {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
}

/* -> prevent footer text from multi-row */

@media screen and (max-width: 1077px) {
  footer p {
    width: unset;
  }
}

/* -> make hamburger appear */

@media screen and (max-width: 1045px) {
  #hamburger-wrapper {
    display: block;
  }
  nav ul {
    display: none;
  }
}

/* -> behaviour of location -> gmap */

@media screen and (max-width: 810px) {
  #location ul {
    max-width: 100%;
  }
  #map {
    width: 80%;
    margin: auto;
    margin-top: 2em;
  }
}

/* -> recenter program title */

@media screen and (max-width: 747px) {
  #program-section h1 {
    text-align: center;
  }
}

/* -> avoid hamburger menu drawing over KVK Logo */

@media screen and (max-width: 535px) {
  #hamburger-wrapper {
    margin-left: 2em;
    left: unset;
  }
}

/* MEDIA QUERIES end */

/* MISC start */

.loader {
  border: 0.3em solid #f3f3f3;
  border-top-color: var(--kvk-main-color);
  border-radius: 50%;
  height: 2em;
  aspect-ratio: 1;
  animation: spin 2s linear infinite;
  margin: 4em auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MISC end */
