@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
body {
    line-height: 1.5;
    font-family: "Helvetica", sans-serif;
}

#container {
    max-width: 1600px;
    margin: 0 auto;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

#main {
    padding-top: 3em;
}

a.anchor {
    display: block;
    position: relative;
    top: -3em;
    visibility: hidden;
}

a:link,
a:visited {
    color: grey;
}

b {
    font-weight: bold;
}

section {
    position: relative;
    border-bottom: 0.5em solid #ed1255;
    padding: 5%;
}

section:last-of-type {
    border-bottom: none;
}

h1,
h2,
h3,
p {
    text-align: left;
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

p {
    margin: 2em auto;
}

table {
    border-collapse: separate;
}

.in-section-list {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


/* NAV start */

nav {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    max-width: inherit;
    height: 3em;
    color: white;
    background-color: #ed1255;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding-right: 1em;
    font-size: 1.1em;
}

nav li {
    flex-grow: 1;
    height: 100%;
}

nav li.current {
    background-color: rgba(134, 29, 61, 0.5) !important;
}

nav li:hover {
    background-color: #d70e3e;
}

nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav li a:link,
nav li a:visited {
    color: white;
}

nav li a div {
    padding-top: .7em;
}

#position-indication {
    position: fixed;
    z-index: 20;
    height: 3em;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
}


/* NAV->HAMBURGER start */

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ #menu {
    display: block;
    width: 100vw;
    position: fixed;
    top: 2.7em;
    /*nav.height / ul.fontSize*/
    left: 0;
    padding-top: .5em;
    padding-bottom: .2em;
    background-color: #ed1255;
}

input[type=checkbox]:checked ~ #menu li {
    width: 80%;
    margin: auto;
    background-color: #ed1255;
    border-top: 1px solid #861d3d;
}

input[type=checkbox]:checked ~ #menu li:hover {
    background-color: #d70e3e;
}

input[type=checkbox]:checked ~ #menu li a div {
    padding: .3em;
}

#hamburger-wrapper {
    position: absolute;
    width: 2em;
    height: 100%;
    display: none;
    cursor: pointer;
}

.hamburger {
    position: absolute;
    width: 1.25em;
    height: 0.8em;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 100%;
    border-top: 0.2em solid white;
}


/* NAV->HAMBURGER end */


/* NAV end */


/* LOGO start */

.logo {
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    margin: 0 2%;
}

#logo-ref {
    flex-basis: 15em;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

#logo-K {
    display: inline-block;
    margin-left: 5%;
    font-size: 2.5em;
}

#logo-border {
    height: 70%;
    width: 1px;
    min-width: 1px;
    background-color: white;
}

#logo-text {
    display: inline-block;
    line-height: 1.4;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: normal;
}


/* LOGO end */


/* TITLE SECTION start */

#title-section {
    padding: 0;
    background-color: #ed1255;
}

#countdown {
    /*display: none;* -> IE GODDAMIT... */
    position: absolute;
    top: 30%;
    left: 28.5%;
    width: 50%;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 3.4vw;
    text-align: center;
    transform: translateX(-50%);
}

#title-section img {
    width: 100%;
}

.title-h1 {
    color: #ed1255;
}


/* TITLE SECTION end */

/* IMPRESSION SECTION start */

#impression-section #impression-div {
    margin: 2em auto;
    height: 80vh;

    background-color: #d1d1d1;
    border: 1px solid black;
}

#impression-section #impression-image {
    display: block;
    position: relative;

    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;

    top: 50%;
    transform: translateY(-50%);
}

#impression-section #credit {
    float: right;
    margin: 0;
    margin-top: -2em;
    font-size: 70%;
    color: grey;

}

#impression-section #image-cache {
    display: none;
}

#impression-section #controls {
    display: flex;

    justify-content: center;
}


#impression-section #controls button {
    font-size: 200%;    
}

/* IMPRESSION SECTION end */

/* TICKETS SECTION start */

.eventforg-container {
    display: flex; 
    justify-content: center;
}

/* TICKETS SECTION start */

/* PLAN SECTION start */

#plan-section div {
    text-align: center;
}

#plan-section img {
    width: 100%;
    max-width: 60em;
    margin-top: 3em;
}


/* PLAN SECTION end */


/* SCHUTZKONZEPT SECTION start */

.protection-concept-section ul {
    list-style-type: disc;
    padding-left: min(7%, 40px);
    max-width: 800px;
    margin: -1.5rem auto;
}

.protection-concept-section .footer {
    font-size: .8rem;
}

/* SCHUTZKONZEPT SECTION end */

/* PROGRAM SECTION start */

.poetry {
    background: linear-gradient(#b7d7c7, #78b9a1);
}

.exhibition {
    background: linear-gradient(#b0adc8, #7b77a6);
}

.concert {
    background: linear-gradient(#ebc595, #dd9e5c);
}

.theater {
    background: linear-gradient(#e5aa9a, #d3695e);
}

.program-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1.5rem;
    max-width: 900px;
}

.event {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 20%;
}

.filler {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.event-title {
    font-weight: bold;
    color: #5a403b;
}

.event-subtitle {
    font-weight: bold;
    color: #fffffe;
    font-size: .8rem;
}

.program-legend {
    display: flex;
    flex-wrap: wrap;
    margin: .5rem auto;
    margin-top: 1rem;
    max-width: 900px;
    justify-content: center;
}

.legend-entry {
    display: flex;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.program-legend .box {
    width: 1rem;
    height: 1rem;
    border-top-right-radius: 20%;
    margin-right: 0.5rem;
}

/* PROGRAM SECTION end */


/* FOOD SECTION start */

.food-section p {
    margin: 1em auto;
}


/* FOOD SECTION end */


/* CONTACT SECTION start */

.contact-section .images-container {
    display: flex;
    justify-content: space-evenly; 
    align-items: baseline;
    margin-top: 1em;
    gap: 1%;
}

.images-container img {
    max-height: 400px;
    width: 100%;
    object-fit: contain;
}

.contact-section ul {
    max-width: 800px;
    margin: 2em auto;
}

.caption {
    margin-top: -1em; 
    margin-left: max((100% - 910px)/3, 0px); 
    margin-bottom: 3em;
}


/* CONTACT SECTION end */


/* SPONSOREN SECTION start */

.section-sponsors {
    background-image: url("../resources/sponsor-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sponsor-group {
    margin-top: 1em;
    margin-bottom: 4vw;
    border-left: 2px solid #ed1255;
    padding-left: 2vw;
}

.sponsor-group h2 {
    margin-bottom: 1em;
    margin-left: 0;
    color: #ed1255;
}

.sponsor-group img {
    margin-bottom: 3vw !important;
}

.sponsors img {
    width: 25%;
    margin: 0 3.4%;
}

.sponsors > div {
    width: 30%;
    margin: 0 1%;
    display: inline-block;
    font-size: 110%;
    font-weight: 300;
}

/* SPONSOREN SECTION end */

/* PRESSE SECTION start */

.media-section > div {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.telez {
    margin: auto;
    max-width: 800px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.telez a {
    display: block;
}

.telez iframe {
    display: block;
    width: 80vw;
    max-width: 800px;
    height: 45vw;
    max-height: 450px;
}

.kuesnachter h2 {
    margin-bottom: 1rem;
}

/* PRESSE SECTION end */

/* FOOTER start */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .7em;
    background-color: #ed1255;
    color: white;
}

footer p {
    width: 33%;
    margin: 0;
    padding: 0 .5em;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 2px;
}

footer a:link,
footer a:visited {
    color: white;
    text-decoration: none;
}

.media-section {
    background-color: #80808047;
}

.media-img {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    max-width: 1030px;
    height: auto;
}


/* FOOTER end */
/* MEDIA QUERIES start */
/* sort them descending as lower definitions will overwrite higher ones as wanted 
* smaller max-width has higher priority.
*/

/* -> prevent footer text from multi-row */

@media screen and (max-width: 1077px) {
    footer p {
        width: unset;
    }
}

/* -> make hamburger appear */

@media screen and (max-width: 1045px) {
    #hamburger-wrapper {
        display: block;
        left: 50%;
        transform: translateX(-50%);
    }
    .hamburger {
        top: 30%;
    }
    nav ul {
        display: none;
    }
}

/* -> behaviour of location -> gmap */

@media screen and (max-width: 810px) {
    #location ul {
        max-width: 100%;
    }
    #map {
        width: 80%;
        margin: auto;
        margin-top: 2em;
    }
}

/* -> recenter program title */

@media screen and (max-width: 747px) {
    #program-section h1 {
        text-align: center;
    }
}

/* -> avoid hamburger menu drawing over KVK Logo */

@media screen and (max-width: 535px) {
    #hamburger-wrapper {
        margin-left: 2em;
        left: unset;
    }
    #countdown {
        width: 90%;
        left: 50%;
        font-size: 5vw;
    }
}

/* -> sponsors without a logo need smaller (and adaptive) font to not overlap */

@media (max-width: 600px) {
    .sponsors > div {
        font-size: 3vw;
    }
}

/* MEDIA QUERIES end */
