@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
body {
    line-height: 1.5;
    font-family: "Helvetica", sans-serif;
}

#container {
    max-width: 1600px;
    margin: 0 auto;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

#main {
    padding-top: 3em;
}

a.anchor {
    display: block;
    position: relative;
    top: -3em;
    visibility: hidden;
}

a:link,
a:visited {
    color: #ed1255;
    color: grey;
}

b {
    font-weight: bold;
}

section {
    position: relative;
    border-bottom: 0.5em solid #ed1255;
    padding: 5%;
}

section:last-of-type {
    border-bottom: none;
}

h1,
h2,
h3,
p {
    text-align: left;
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

p {
    margin: 2em auto;
}

table {
    border-collapse: separate;
}

.in-section-list {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


/* NAV start */

nav {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    max-width: inherit;
    height: 3em;
    color: white;
    background-color: #ed1255;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding-right: 1em;
    font-size: 1.1em;
}

nav li {
    flex-grow: 1;
    height: 100%;
}

nav li.current {
    background-color: rgba(134, 29, 61, 0.5) !important;
}

nav li:hover {
    background-color: #d70e3e;
}

nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav li a:link,
nav li a:visited {
    color: white;
}

nav li a div {
    padding-top: .7em;
}

#position-indication {
    position: fixed;
    z-index: 20;
    height: 3em;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
}


/* NAV->HAMBURGER start */

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ #menu {
    display: block;
    width: 100vw;
    position: fixed;
    top: 2.7em;
    /*nav.height / ul.fontSize*/
    left: 0;
    padding-top: .5em;
    padding-bottom: .2em;
    background-color: #ed1255;
}

input[type=checkbox]:checked ~ #menu li {
    width: 80%;
    margin: auto;
    background-color: #ed1255;
    border-top: 1px solid #861d3d;
}

input[type=checkbox]:checked ~ #menu li:hover {
    background-color: #d70e3e;
}

input[type=checkbox]:checked ~ #menu li a div {
    padding: .3em;
}

#hamburger-wrapper {
    position: absolute;
    width: 2em;
    height: 100%;
    display: none;
    cursor: pointer;
}

.hamburger {
    position: absolute;
    width: 1.25em;
    height: 0.8em;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 100%;
    border-top: 0.2em solid white;
}


/* NAV->HAMBURGER end */


/* NAV end */


/* LOGO start */

.logo {
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    margin: 0 2%;
}

#logo-ref {
    flex-basis: 15em;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

#logo-K {
    display: inline-block;
    margin-left: 5%;
    font-size: 2.5em;
}

#logo-border {
    height: 70%;
    width: 1px;
    min-width: 1px;
    background-color: white;
}

#logo-text {
    display: inline-block;
    line-height: 1.4;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: normal;
}


/* LOGO end */


/* TITLE SECTION start */

#title-section {
    padding: 0;
    background-color: #ed1255;
}

#countdown {
    /*display: none;* -> IE GODDAMIT... */
    position: absolute;
    top: 30%;
    left: 28.5%;
    width: 50%;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 3.4vw;
    text-align: center;
    transform: translateX(-50%);
}

#title-section img {
    width: 100%;
}

.title-h1 {
    color: #ed1255;
}


/* TITLE SECTION end */

/* IMPRESSION SECTION start */

#impression-section #impression-div {
    margin: 2em auto;
    height: 80vh;

    background-color: #d1d1d1;
    border: 1px solid black;
}

#impression-section #impression-image {
    display: block;
    position: relative;

    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;

    top: 50%;
    transform: translateY(-50%);
}

#impression-section #credit {
    float: right;
    margin: 0;
    margin-top: -2em;
    font-size: 70%;
    color: grey;

}

#impression-section #image-cache {
    display: none;
}

#impression-section #controls {
    display: flex;

    justify-content: center;
}


#impression-section #controls button {
    font-size: 200%;    
}

/* IMPRESSION SECTION end */


/* PLAN SECTION start */

#plan-section div {
    text-align: center;
}

#plan-section img {
    width: 100%;
    max-width: 60em;
    margin-top: 3em;
}


/* PLAN SECTION end */


/* PROGRAM SECTION start */

#program-section h1 {
    max-width: unset;
}

#program-section p {
    max-width: unset;
}

#program-section table {
    margin: 0 auto;
    margin-top: 0.5em;
    z-index: 100;
}

#program-section th {
    padding: 0.4em 0;
    font-weight: bold;
    text-align: center;
    color: #ed1255;
    border-bottom: 1px solid black;
    border-right: 1px dotted #ed1255;
}

#program-section th:last-of-type {
    border-right: unset;
}

#program-section td {
    padding: 0.2em 0.6em;
    border-bottom: 1px solid black;
    border-right: 1px dotted #ed1255;
    font-size: 75%;
    text-align: left;
    vertical-align: middle;
}

#program-section td.content:hover, #program-section tr td.extra-cell, #program-section tr td.selected {
    background-color: #e8e8e8;
}

#program-section td.content:hover:not(.selected) {
    outline: 1px solid black; /*here selection border*/
}

#program-section td.content:hover {
    cursor: pointer;
}

#program-section td.halbstund {
    width: 5em;
}

#program-section table td.locationCell {
    padding-left: 0;
    font-weight: bold;
    border-bottom: 1px solid black;
}

#program-section .intermediateRow td {
    border-bottom: 1px solid lightgrey;
}

#program-section tr td:last-of-type {
    border-right: unset;
}

#program-section .time-cell {
    text-align: center;
}

#program-section tr td.extra-cell {
    border: 1px solid black; /*here selection border*/
    border-top: 0;
    border-left: 0;
    border-right: 1px dotted #ed1255;
}

#program-section .table-entry {
    display: flex;
}

#program-section .extra-cell div.img {
    display: inline-block;
    margin: 10px;
}

#program-section .extra-cell .img img {
    /* removed because of IE */
     /*position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
}

#program-section .extra-cell .content {
    display: inline-block;
    padding: 10px;
}

#program-section .extra-cell .content h4 {
    font-size: 110%;
    font-weight: bold;
}

#program-section .extra-cell .content p:last-of-type {
    margin-bottom: 0;
}

#program-section tr td.bottom-border {
    border-bottom: 1px solid black; /*here selection border*/
}

#program-section tr td.before-selected {
    border-right: 1px solid black; /*here selection border*/
}

#program-section tr td.selected {
    border: 1px solid black; /*here selection border*/
    border-bottom: 0;
    border-left: 0;
    outline: 0;
}

/*avoid a black border for a cell which is on the right edge of the table*/
#program-section tr td:last-of-type.selected {
    border-right: 1px dotted #ed1255;
}

.program-table-hint p {
    margin: 1em;
}

#program-section table.desktop img {
    width: 10vw;
}

/* -> mobile */

#program-section .mobile {
    width: 100%;
}

#program-section .mobile .time-cell {
    cursor: pointer;
}

.expand {
    display: inline-block;
    margin-right: 10%;
}

.collapse {
    transform: rotate(90deg);
}

/* -> gallery */

button.gallery-toggler {
    padding: 1em;
    margin: 2em 0;
    border: none;
    border-radius: 0.25em;

    color: white;
    background-color: #ed1255;

    cursor: pointer;

    position: unset; /* will be set to 'fixed' by script.js*/
    top: 74px;
}

button.gallery-toggler:hover {
    background-color: #d70e3e;
}

#participant-gallery {
    display: flex;
    flex-direction: row;
}

.gallery-column {
    margin: 2%;

    flex-grow: 1;
    flex-basis: 0px;
}

.gallery-item {
    /*max-width: 350px;*/
    border: 1px solid black;
    font-size: 80%;
    margin-bottom: 1em;
    background-color: #ededed;
}



.gallery-item h4 {
    font-weight: bold;
    font-size: 110%;
    margin: 1em 1em;
}

.gallery-item img {
    width: 80%;
    display: block;
    margin: 0.5em auto;
}

.gallery-item p {
    margin: 1em 1em;
}


/* gallery end */


/* legend table start*/

#program-section h6 {
    text-align: left;
    font-style: italic;
    font-size: 75%;
}

#program-section .legend {
    margin-left: 0;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#program-section .legend div {
    display: inline;
    font-size: 75%;
    margin: 0 1em;
}


/* legend table end*/


/* PROGRAM SECTION end */


/* FOOD SECTION start */

.food-section p {
    margin: 1em auto;
}


/* FOOD SECTION end */


/* CONTACT SECTION start */

.ad {
    color: #ed1255;
}

.contact-section h3 {
    margin-top: 2em;
}

.contact-section p {
    margin-top: 0;
}

.contact-section li {
    text-align: justify;
}

.contact-section a {}

#location {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: auto;
    flex-wrap: wrap;
}

#location ul {
    max-width: 20em;
    width: 100%;
}

#location li {
    margin-top: 1em;
}

#map {
    flex-shrink: 0;
    flex-grow: 1;
    width: 20em;
    height: 20em;
    border: 1px solid grey;
    margin-top: 1em;
    margin-left: 5em;
}


/* CONTACT SECTION end */


/* SPONSOREN SECTION start */

#sponsoren-section {
    padding-left: 3%;
    padding-right: 3%;
}

#sponsoren-section h2 {
    margin-top: 3em;
    margin-bottom: 2em;
    border-bottom: 1px solid grey;
}

#sponsoren-section h2:first-of-type {
    margin-top: 2em;
}

#sponsoren-section ul {
    max-width: 800px;
    margin: auto;
}

#sponsoren-section li {
    margin-bottom: 1em;
}

.sponsoren-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.sponsoren-block:nth-of-type(2) img {
    height: 50px;
}

.sponsoren-block img {
    width: unset;
    max-width: unset;
    height: 70px;
    /*71*/
    max-height: unset;
    padding: 1em .5em;
}

#schererHeizungen {
    max-height: 12vw;
}

#STFS {
    max-height: 12vw;
}

#sponsoren-section a {
    text-decoration: none;
    color: black;
}


/* SPONSOREN SECTION end */


/* FOOTER start */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .7em;
    background-color: #ed1255;
    color: white;
}

footer p {
    width: 33%;
    margin: 0;
    padding: 0 .5em;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 2px;
}

footer a:link,
footer a:visited {
    color: white;
    text-decoration: none;
}


/* FOOTER end */
/* MEDIA QUERIES start */
/* sort them descending as lower definitions will overwrite higher ones as wanted 
* smaller max-width has higher priority.
*/

/* -> prevent footer text from multi-row */

@media screen and (max-width: 1077px) {
    footer p {
        width: unset;
    }
}

/* -> make hamburger appear */

@media screen and (max-width: 1045px) {
    #hamburger-wrapper {
        display: block;
        left: 50%;
        transform: translateX(-50%);
    }
    .hamburger {
        top: 30%;
    }
    nav ul {
        display: none;
    }
}

/* -> behaviour of location -> gmap */

@media screen and (max-width: 810px) {
    #location ul {
        max-width: 100%;
    }
    #map {
        width: 80%;
        margin: auto;
        margin-top: 2em;
    }
}

/* -> recenter program title */

@media screen and (max-width: 747px) {
    #program-section h1 {
        text-align: center;
    }
}

/* -> avoid hamburger menu drawing over KVK Logo */

@media screen and (max-width: 535px) {
    #hamburger-wrapper {
        margin-left: 2em;
        left: unset;
    }
    #countdown {
        width: 90%;
        left: 50%;
        font-size: 5vw;
    }
}


/* MEDIA QUERIES end */
